<h1>Test: <%= @test.title %></h1>

<table>
  <tr>
    <th>Number</th>
    <th>Body</th>
    
  <%= render @test.questions %>
</table>
<div>
  <%= link_to "Add question", new_test_question_path(@test) %>
</div>              