<tr>
  <td><%= link_to "#{gist.question.body.first(25)}", admin_question_path(gist.question) %></td>
  <td><%= gist.user.email %></td>
  <td><a href=<%="#{gist.body}"%> target="_blank"><%= gist.inspect %></a> </td>
</tr>