<footer class="navbar fixed-bottom bg-info">
 <div>
  <%= current_year %>, Евгений Остапенко
  <%= github_url("test-guru", "https://github.com/Evgeniy-github-acc/test-guru") %>
  - Учебный проект онлайн школы <a href="https://thinknetica.com" target="_blank">Thinknetica</a>
 </div>
</footer>