<h1>Test-Guru Tests</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Category</th>
    <th>Questions</th>
    <th>Start test</th>
    
  <%= render @tests %>
</table>
 <p><%= link_to 'New', new_admin_test_path %></p>