<h1><%= t('.header', title: @test.title)%></h1>

<table>
  <tr>
    <th><%= t('.question') %></th>
    
  <%= render @test.questions %>
</table>
<div>
  <%= link_to t(".add_question"), new_admin_test_question_path(@test) %>
</div>           